// colors //

// color-cube
$white: #fefefe;
$cerulean: #01afc8;
$blue-haze: #b6b8d1;
$amaranth: #e7385f;
$cod-gray: #0e0e0e;
$mulled-wine: #513e5e;
$pizzaz: #fb9301;
$green-haze: #01aa51;
$pharlap: #a08778;
$komomiko: #ffc869;

// median-cut
$gallery: #f0efef;
$spectra: #345e60;
$fuzzy-wuzzy-brown: #c04a57;
$pewter: #96a6a5;
$golden-grass: #de912a;

// material-design
$carrot-orange: #f29518;
$oslo-gray: #959999;
$jungle-green: #22ad96;
$viridian: #458d76;
$cerise-red: #e23c5d;
